<h1>Top Questions</h1>

<ul>
<% @questions.each do |question| %>
  <li>
    <%= question.question %> <%= link_to 'Show', question_path(question) %>
      <% if current_user && (current_user.id = question.user_id) %>
          | <%= link_to 'Edit', edit_question_path(question) %>
      <% end %>
  </li>
<% end %>
</ul>

<%= link_to 'New Question', new_question_path %>
