<h1>Show Question</h1>

<p>
  <strong> Question:</strong>
  <%= @question.question %>
</p>

<%= link_to 'Home', questions_path %>
  <% if current_user && (session[:user_id] = @question.user_id) %>
       | <%= link_to 'Edit', edit_question_path(@question) %> | <%= link_to 'Destroy', question_path(@question), method: :delete, data: { confirm: "Are you sure?" } %>
  <% end %>
